.pattern-1 {
    height: 100%;
    width: 100%;
    background-image: url(/images/pattern-01.svg);
}

.pattern-2 {
    height: 100%;
    width: 100%;
    background-image: url(/images/pattern-02.svg);
}

.pattern-3 {
    height: 100%;
    width: 100%;
    background-image: url(/images/pattern-03.svg);
}

.pattern-4 {
    height: 100%;
    width: 100%;
    background-image: url(/images/pattern-04.svg);
}