:root {

    // Neutrals
    --white: #fff;
    --black: #000;
    --cream: #FFE8C4;
    
    // Main colors
    --purple-500: #23204B;
    --purple-200: #655C6F;
    --red: #BD0827;

    //Pattern colors:
    --yellow: #FDBE01;
    --green: #58AE5F;
    --blue: #55A7E3;
    --pink: #B9317A;
    
    }