.pattern-1 {
    //x's and o's
    height: 100%;
    width: 100%;
    background-image: url(/images/pattern-01.svg);
}

.pattern-2 {
    //hard edge weaving
    height: 100%;
    width: 100%;
    background-image: url(/images/pattern-02.svg);
}

.pattern-3 {
    //flowers
    height: 100%;
    width: 100%;
    background-image: url(/images/pattern-03.svg);
}

.pattern-4 {
    //shield and waves
    height: 100%;
    width: 100%;
    background-image: url(/images/pattern-04.svg);
}