@font-face {
  font-family: 'DMMono Italic';
  src: local('DMMonoItalic'), url(/fonts/DMMono-Italic.ttf) format('ttf');
}

@font-face {
  font-family: 'DMMono Regular';
  src: local('DMMonoRegular'), url(/fonts/DMMono-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'DMMono Medium';
  src: local('DMMonoItalic'), url(/fonts/DMMono-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Ruben';
  src: local('Ruben'), url(/fonts/RUBEN-Regular.woff) format('woff');
}

/* ELEMENTS */

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
p {
  font-style: normal;
  color: var(--purple-500);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Ruben", monospace;
  font-weight: normal;
}

h4,
h5,
p,
a {
  font-family: 'DM Mono', monospace;
}

h1 {
  font-size: 120px;
  line-height: 100px;
}

h2 {
  font-size: 72px;
  line-height: 86px;
}

h3 {
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 145%;
}

h5 {
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
}

.light {
  color: var(--purple-200);
}

.italic {
  font-style: italic;
}

.small {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
}

a {
  font-style: normal;
  font-weight: normal;
  text-decoration-line: underline;
  color: var(--red);
}

@media only screen and (max-width: 619px) {
  h1 {
    font-size: 72px;
    line-height: 60px;
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 32px;
    line-height: 38px;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
  }

  h5 {
    font-size: 14px;
  }

}